[Desktop Entry]
Version = 1.0
Type = Application
Terminal = false
Name = Bsp-Unhide
Exec = /home/argha/.local/bin/bspwm/bspunhide
Icon = /home/argha/.config/icon/unhide.png
Categories = Application;
